@import '~antd/dist/antd.css';

:root {
    --black: #333;
    --danger: #ff4d4f;
}

#root {
    height: 100vh;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.mx-auto {
    margin: 0 auto;
}

.col {
    flex-direction: column;
}

.valign {
    align-items: center;
}

.halign {
    justify-content: center;
}

.inherit {
    height: inherit;
}